# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# VS Code
.vscode/

# Node
node_modules/

# Models
*.pt
*.pth

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
# Datasets and trained models
ML/datasets/*
!ML/datasets/.gitkeep
ML/models/depression_distilbert/checkpoint-*/

